[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Jekyll Bootstrap theme
[access "refs/*"]
	owner = group user/Latschesar Atanassov (LAtanassov)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Latschesar Atanassov (LAtanassov)
	label-Verified = -1..+1 group user/Latschesar Atanassov (LAtanassov)
	push = group user/Latschesar Atanassov (LAtanassov)
	read = group user/Latschesar Atanassov (LAtanassov)
	rebase = group user/Latschesar Atanassov (LAtanassov)
	removeReviewer = group user/Latschesar Atanassov (LAtanassov)
	submit = group user/Latschesar Atanassov (LAtanassov)
[access "refs/heads/*"]
	create = group user/Latschesar Atanassov (LAtanassov)
	push = +force group user/Latschesar Atanassov (LAtanassov)
	pushMerge = group user/Latschesar Atanassov (LAtanassov)
	read = group user/Latschesar Atanassov (LAtanassov)
[access "refs/tags/*"]
	push = group user/Latschesar Atanassov (LAtanassov)
	push = +force group user/Latschesar Atanassov (LAtanassov)
